.env
.git
debug.log
.idea/
.vscode/
.gocache/

# Dependencies
node_modules/
package-lock.json
!Frontend/mobile/package-lock.json
!Frontend/doctor-app/package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
*.log