GIN_MODE=debug
PORT=8080
FE_WEB_URL=http://localhost:3000
FE_ADMIN_URL=http://localhost:3001
JWT_SECRET=mysecret
MONGO_URI=mongodb+srv://...
MONGO_DB_NAME=rpm
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxx
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=youremail@example.com
SMTP_PASSWORD=yourpassword
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=redispassword
REDIS_DB=0
FIREBASE_CREDENTIALS_BASE64=
FIREBASE_CREDENTIALS_FILE=./firebase-service-account.json
