GIN_MODE=debug
PORT=8080
FE_URL=http://localhost:3000
JWT_SECRET=mysecret
MONGO_URI=mongodb+srv://...
MONGO_DB_NAME=rpm
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxx
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback
