@import "tailwindcss";

@theme {
  --color-primary: #0d6efd; 
  --color-primary-dark: #0a58ca; 
  --color-secondary: #20c997; 
  --color-normal: #16a34a; 
  --color-warning: #f59e0b; 
  --color-error: #dc2626; 

  --color-bg: #f8fafc; 
  --color-text: #1e293b; 
  --color-text-muted: #64748b; 

  --color-btn-bg: #0d6efd;
  --color-btn-text: #ffffff; 
  --color-hover: #f9f8f6; 
  --color-btn-clicked: #0a58ca; 

  --color-border: #e2e8f0; 
}
